.container{
    background-color:rgb(116,152,225);
}
.weather{
    width:max-content;
    padding:30px;
    border-radius:10px;
    margin:50px auto;
    text-align:center;
    color:white;
    background:linear-gradient(130deg,rgb(191, 191, 207),rgb(16, 16, 31));

}
.search{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.search input{
    border:none;
    outline:0;
    padding:12px 25px;
    font-size:18px;
    background-color:rgb(222,237,243);
    color:black;
    border-radius:30px;
    flex:1;
    margin-right:12px;


}

.search-button >img {
    width:20px;
    height:20px;
    border-radius:50%;
    cursor:pointer;
    margin-right: 10px;
}
.wind1{
    margin:0 0px 100px 100px;
    height: 50px;
    width: max-content;
}
.winfo .icon{
    margin-top:20px;
    width:200px;

}
.winfo > h1{
    font-size:70px;
    font-weight:500;
    margin-top:5px;
}
.winfo > h2{
    font-size:40px;
    font-weight:400;
    margin-top:-40px;
}
.details{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0px 20px;
    margin-top:50px;
}
.details .col{
    display:flex;
    align-items:center;
    text-align:left;
}
.details .col > img{
    width:45px;
    margin-right:10px;
}
.humidity{
    font-size:27px;
    margin-right:300px;


}
.wind{
    font-size:27px;
    margin-left:150px;
}
.humidity > p, .wind > p{
    margin:0px;
     
}